@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlight: 255, 212, 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p {
    word-wrap: break-word;
}

input {
    min-width: 2.65rem;
    width: 2.65rem;
    max-width: 100%;
    outline: none;
    border: solid 0.12rem rgb(var(--highlight));
    border-radius: 3px;
    padding: 0.25rem 0 0.15rem 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#counter-extension-popup {
    min-width: 14rem;
    width: fit-content;
    position: fixed;
    z-index: 99;
    bottom: 6rem;
    left: 2rem;
    background-color: white;
}

.border {
    border: solid 0.125rem rgb(var(--highlight));
    border-radius: 8px;
    padding: 1rem;
    box-shadow: -6px 6px 0px rgba(var(--highlight), 0.2);
}

.menu-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.minimized {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
}

.transition {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
}

#settings-bttn {
    width: 1.25rem;
    height: 1.25rem;
    float: inline-end;
    margin-inline-start: 1rem;
}


#dropdown-bttn {
    width: 1.25rem;
    height: 1.25rem;
}