/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

:root {
    --highlight: 255, 212, 0;
}

#counter-extension-overlay {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;

    min-width: 16rem;
    width: fit-content;
    position: fixed;
    z-index: 99999999;
    bottom: 6rem;
    left: 2rem;
}

#counter-extension-overlay button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#counter-extension-overlay p {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    color: black;
}

#counter-extension-overlay .words-left-div {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    overflow: hidden;
    /* margin-bottom: 0; */
}

#counter-extension-overlay .words-left-input {
    min-width: 2.65rem;
    width: 2.65rem;
    max-width: 100%;
    outline: none;
    border: solid 0.12rem rgb(var(--highlight));
    border-radius: 3px;
    padding: 0.25rem 0 0.15rem 0.25rem;
    margin: 0 0.1rem 0 0.3rem;
}

#counter-extension-overlay input::-webkit-outer-spin-button,
#counter-extension-overlay input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#counter-extension-overlay input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#counter-extension-overlay .counter-div-border {
    border: solid 0.125rem rgb(var(--highlight));
    border-radius: 8px;
    padding: 1rem;
    box-shadow: -6px 6px 0px rgba(var(--highlight), 0.2);
    background-color: white;
}

#counter-extension-overlay #menu > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

#counter-extension-overlay #minimized {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25rem;
    min-width: 13.75rem;
    width: fit-content;
}

#counter-extension-overlay .transition {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
}

#counter-extension-overlay #settings-bttn {
    width: 1.25rem;
    height: 1.25rem;
    float: inline-end;
    margin-inline-start: 1rem;
}


#counter-extension-overlay #dropdown-bttn {
    width: 1.25rem;
    height: 1.25rem;
}